.service_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-gap: 1rem;
    margin-bottom: 3rem;
}
.servive_box {
  background-color: rgba(182, 239, 73, 0.2);
  border-radius: 10px;
  color: #424242;
  cursor: default;
  margin-top: 40px;
  padding: 20px;
  text-align: center;
  transition: background-color 1.5s ease-out;
}
.servive_box .service_icon {
  height: 70px;
  object-fit: contain;
  width: 70px;
}
.servive_box .service_text {
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 0.5em;
}



